<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", rel="stylesheet")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
    link(href="//fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Roboto", rel="stylesheet")    
    link(href="//fonts.googleapis.com/css?family=Chewy", rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Indie+Flower", rel="stylesheet")
    
    
    link(href="./css/styles.css", rel="stylesheet")
  body
    block content      
    
    footer.footer
      h3.footer__titulo Contactenos
      span.footer__info Linea Gratuita 01 8000 000015
      span.footer__info Correo: preguntas@caninosyfelinos.com 