mixin menuSticky
	header.headerSticky
		
		nav.headerSticky__nav
			ul.headerSticky__nav--items 
				li.headerSticky__nav--item
					.headerSticky__logo
						img(src="./img/dc.png")
				li.headerSticky__nav--item
					a(href="/") Inicio
				li.headerSticky__nav--item
					a(href="servicios.html") Servicios
				li.headerSticky__nav--item
					a(href="productos.html") Productos
				li.headerSticky__nav--item
					a(href="guarderia.html") Guarderia
				li.headerSticky__nav--item
					a(href="blog.html") Blog