extends ./assets/layout.pug
include ./assets/mixins.pug

block content
	+menuSticky
	.container.blog.margin-top
		h2.blog__titulo Mascotas que podemos regalar a un niño pequeño
		img.blog__img(src="./img/niñosMascotas.jpg")
		p.parrafo
			|El verano, al igual que las Navidades o la Semana Santa, es un momento propicio del año para regalar una mascota a los más pequeños de la casa. Una mascota no es un juguete. Es un ser vivo que aporta diversión a los hijos pequeños y debe ir acompañado de la necesaria responsabilidad en su cuidado.
		p.parrafo Las ventajas que aporta una mascota a una familia con niños pequeños son variadas y múltiples. Pero antes de regalar una mascota debemos elegir aquélla que más se adapte a nuestra vida y a las características propias de nuestra vida. No todas las mascotas son iguales ni requieren los mismos cuidados. Vamos a destacar algunas de las mascotas que podemos regalar a un niño pequeño.
		p.parrafo Se recomienda adquirir un perro dominante solo a personas con carácter. También a personas que anteriormente ya hayan tenido experiencias con este tipo de mascotas. Un peludo con estas características se aleja mucho de la idea de mascota risueña y cariñosa.
		p.parrafo <b>-Perros.</b> Es uno de los regalos más comunes y que aportan mayor placer y diversión a los niños pequeños. Es el compañero ideal de juegos por excelencia dada su sociabilidad y les gusta la compañía humana. Pero hay que tener en cuenta que son los que más obligaciones y trabajo tienen. Requieren varios paseos diarios, no puedes dejarlos solos en casa en las vacaciones y, afortunadamente, viven muchos años. Y es necesario educarlos. Mejor un perro grande que una raza 
		p.parrafo <b>-Gatos.</b> Un gato requiere menos cuidados que un perro. No hay que darles paseos y son más independientes que un perro. Un gato puede ser cariñoso y apreciar la compañía de los seres humanos pero son muy celosos de su espacio. Para un niño pequeño puede que no sea la mejor mascota para jugar.
		p.parrafo <b>-Hamsters y Conejos.</b> Son otras mascotas caseras muy extendidas y fáciles de cuidar, no tenemos que pasearlos. Su cuidado es sencillo pero hay que tener cuidado de no comprarlos en pareja porque las peleas serían continuas.
		p.parrafo <b>– Tortugas.</b> Es otra mascota doméstica muy común. A pesar de que los niños no pueden compartir juegos con ellas, ejercen una fascinación que les hace contemparlos durante horas. Su alimentación es sencilla y no requieren de grandes cuidados.
