*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-size:var(--fontSize);
  background: var(--fondoBody);
  font-family: 'Open Sans', sans-serif;
}

ul,li{
  text-align: center;
  list-style: none;
}

a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

img{
  max-width: 100%;
}