.header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  height: 30%;
  text-align: center;
  &-menu{      
    &-img{
      position: relative;
    }
    &-nav{ 
      position: absolute; 
      font-family: 'Chewy', cursive;
      font-size: 1.2em;
      display: flex;
      margin-bottom: 1em;     
      & li{
        padding: 0.5em 2em;        
        & a:hover{
          border-bottom: solid 1px black;
        }
      }
    }
  }   
}

.headerSticky{
  background: var(--azulClaro);
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  width: 100vw;
  z-index: 20;
  height: fit-content;
  &__logo{
    width: 7.5em;
  }
  &__nav{
    &--items{
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      height: 5rem;
      justify-content: center;
      list-style: none outside none;
      margin:0;
      padding: 0;
    }
    &--item{
      margin: 0 2em;
      border-bottom: solid 2px transparent;
      &:hover{
        border-bottom: solid 2px #fff;
        
      }
      &:hover:first-child{
        border: none;
      }
    }
  }
}