.header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  height: 30%;
  text-align: center;
  &-menu{      
    &-img{
      position: relative;
    }
    &-nav{ 
      position: absolute; 
      font-family: 'Chewy', cursive;
      font-size: 1.2em;
      display: flex;
      margin-bottom: 1em;     
      & li{
        padding: 0.5em 2em;        
        & a:hover{
          border-bottom: solid 1px black;
        }
      }
    }
  }  
}