/* Carga las variables */
@import 'variables.css';
/* Estilos Bases */
@import 'core.css';
/* Estilo para Clases reusables */
@import 'misClases.css';
/* mixins*/
@import 'mixins.css';
/* Estilos del Header y menu nav */
@import 'header.css';
/* Estilos de la Portada y logo*/
@import 'portada.css';
/* Estilos para como se distribuyen los elementos */
@import 'contenido.css';
/* Estilos de las entradas del Blog */
@import 'entradas.css'; 
/* Estilos del Formulario de contacto 
@import 'contacto.css'; */

.contacto{
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  background: var(--fondoClaro);
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0 0.5em;
  &__titulo{
    color: #F96;
    font-weight: 400;
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
  }
  &__fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  &__input{
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    &:hover{
      transition:border-color 0.3s ease-in-out;
	    border:1px solid #AAA;
    }
    &--textarea{
      height:100px;
      max-width:100%;
      resize:none;
    }
  }
  
}






